p{
    line-height: 1.8;
}

.container{
    margin-top: 100px;
}

.column-left{
    margin-right: 2em;
    border-left: 2px solid lightgray;
    border-bottom:2px solid lightgray;

}
.column-right{
    border-right: 2px solid lightgray;
    border-bottom:2px solid lightgray;
}

.row{
    margin: 2em 0em;
}